* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.divcenter {
  display: flex;
  justify-content: center;
  width: 100%;
}
.newnike{
  width: 100%;
  height: 100%;
}

.pt {
  text-align: center;
  font-size: 50px;
  font-weight: 1000;
  margin-top: 20px;
  font-weight: bold;
  font-style: bold;
}

  .shopnew{
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    transition: 0.4s;
    font-family: sans-serif;
    font-weight: 900;
    &:hover{
      cursor: pointer;
      background-color: #ccc;
    }
  }
.plite {
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  margin-top: 20px;
}

.btndiv {
  display: flex;
  justify-content: center;
}
.shop {
  border: none;
  padding: 10px;
  border-radius: 20px;
  background-color: black;
  color: white;
  margin-top: 20px;
  width: 80px;
  &:hover {
    cursor: pointer;
    color: white;
    background-color: grey;
  }
}

.divt {
  margin-top: 60px;
}

.div-photos {
  display: flex;
  justify-content: center;
}

.ph8 {
  width: 100%;
}
.first-divs {
  margin: 10px;
}

.pimgtitle {
  margin: 10px;
  font-size: 20px;
}

.airs {
  margin: 10px;
  font-size: 20px;
}

.div-airs {
  display: flex;
  justify-content: center;
}

.airsimg {
  width: 100%;
}

.div-airfirst {
  margin: 10px;
}

.areap {
  margin: 20px;
  font-size: 20px;
}

.area-div {
  display: flex;
  justify-content: center;
}

.areas1 {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_451,c_limit/38ed4b8e-9cfc-4e66-9ddd-02a52314eed9/nike-just-do-it.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
  margin: 10px;
}
.areas2 {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_451,c_limit/e4695209-3f23-4a05-a9f9-d0edde31b653/nike-just-do-it.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
  margin: 10px;
}
.areas3 {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_451,c_limit/e36a4a2b-4d3f-4d1c-bc75-d6057b7cec87/nike-just-do-it.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
  margin: 10px;
}

.basketballbtn {
  border: none;
  padding: 10px;
  background-color: white;
  color: black;
  margin: 10px;
  border-radius: 20px;
  margin-top: 60%;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    background-color: grey;
  }
}

.footballbtn {
  border: none;
  padding: 10px;
  background-color: white;
  color: black;
  margin: 10px;
  border-radius: 20px;
  margin-top: 60%;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    background-color: grey;
  }
}
.gymbtn {
  border: none;
  padding: 10px;
  background-color: white;
  color: black;
  margin: 10px;
  border-radius: 20px;
  margin-top: 60%;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    background-color: grey;
  }
}

.ptrending {
  margin: 20px;
  font-size: 20px;
  font-weight: 1000;
}

.trending-div {
  display: flex;
  justify-content: center;
}
.trending-prod {
  margin: 20px;

  padding: 20px;
}
.imgtrending {
  width: 100%;
}

.ptr2 {
  color: #ccc;
  font-weight: 100;
}

.p-peoplet {
  font-size: 20px;
  margin: 20px;
}

.peoples-i {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_451,c_limit/fb5a9aac-a115-4f55-ae75-9bb04ce64aa4/nike-just-do-it.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 70vh;
  margin: 10px;
}
.peoples-i2 {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_451,c_limit/0f99a8f5-c34c-4e3d-b646-e424cfe3bd6d/nike-just-do-it.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 70vh;
  margin: 10px;
}
.peoples-i3 {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_451,c_limit/bc15663f-b8a7-48fa-a06c-e8c55236ebdf/nike-just-do-it.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 70vh;
  margin: 10px;
}

.people-area {
  display: flex;
  justify-content: center;
}

.wm {
  border: none;
  background-color: white;
  color: black;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  margin-top: 100%;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    background-color: grey;
  }
}
.wm2 {
  border: none;
  background-color: white;
  color: black;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  margin-top: 100%;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    background-color: grey;
  }
}
.wm3 {
  border: none;
  background-color: white;
  color: black;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  margin-top: 100%;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    background-color: grey;
  }
}

.porange {
  margin: 20px;
  font-size: 20px;
}

.orangediv {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_451,c_limit/fb8234b8-0aa7-4d44-8f52-6f95578b1b8a/nike-just-do-it.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
  margin: 10px;
}
.orangediv2 {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_451,c_limit/c9176bd9-e727-46ad-8bcb-62312cbfd5d5/nike-just-do-it.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
  margin: 10px;
}
.orangediv3 {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_451,c_limit/73de197a-2e67-42aa-b4e6-aeda1883636b/nike-just-do-it.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
  margin: 10px;
}

.orange-area {
  display: flex;
  justify-content: center;
}
.pbgo {
  color: white;
  margin: 10px;
}
.buy {
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-left: 15px;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    background-color: grey;
  }
}

.texts-orange {
  margin-top: 90%;
}

.div-foot {
  background-color: #111111;
  width: 100%;
  height: 10vh;
  margin-top: 10%;
}

.fp {
  color: #fff;
  font-weight: 300;
  margin: 10px;
  font-family: Nike TG, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.power {
  color: rgb(186, 186, 186);
}

a {
  color: white;
}

.powered {
  display: flex;
  justify-content: center;
  padding: 30px;
}

    #newicn{
      color: black;
    }
       .divbgbig{
        display: flex;
        justify-content: center;
       }

        .divbgone{
             background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_681,c_limit/ed18ec74-c2b4-4c51-bd73-73328019a144/nike-just-do-it.jpg");
               background-repeat: no-repeat;
               background-position: center;
               background-size: cover;
               width: 100%;
               height: 50vh;
               margin: 10px;
        }
        .divbgtwo{
             background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_681,c_limit/1896944c-fbd9-4369-851f-710143f98786/nike-just-do-it.jpg");
               background-repeat: no-repeat;
               background-position: center;
               background-size: cover;
               width: 100%;
               height: 50vh;
               margin: 10px;
        }
           .pbg1{
            padding: 10px;
            color: #fff;
            font-family: sans-serif;
            font-weight: 100;
            
           }
           .pbg2{
            padding: 10px;
            color: #fff;
            font-family: sans-serif;
            font-size: 20px;
            font-weight: 100;
           }

          .bgp{
              margin-top: 35%;
          }
              .shop2{
                    border: none;
                    background-color: #fff;
                    color: black;
                    padding: 10px;
                    margin: 10px;
                    border-radius: 20px;
                    transition: 0.4s;
                    &:hover{
                      cursor: pointer;
                         background-color: #ccc;

                    }
              }
       

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
       .div-photos{
        display: block;
      
       }
       .newnike{
         width: 100%;
       
       }
       .divbgbig{
        display: block;
        
       }
       .div-airs{
        display: block;
       
       }
       .area-div{
        display: block;
        
       }
       .trending-div{
        display: block;
      
       }
    
       .people-area{
        display: block;

       }
       .orange-area{
        display: block;
     
       }
  
      .areas1{
        height: 70vh;
      }
  
      .areas2{
        height: 70vh;
      }
  
      .areas3{
        height: 70vh;
      }
        .div-tree{
          display: none;
        }
        .div-menu{
          display: block;
          margin-left: 12%;
        }
      .ul-nike{
          display: flex;
     
      }
      .wm{
        margin-top: 50%;
      }
      .wm2{
        margin-top: 50%;
      }
      .wm3{
        margin-top: 50%;
      }
      .li1{
        padding: 20px;
      }

   
      
 }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {  }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {  }

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {  }

// // XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1200px) and (max-width: 2500px) { 
  .div-photos{
    display: flex;

   }

   .divbgbig{
    display: flex;

   }
   .div-airs{
    display: flex;
    margin-top: 0;
   }
   .area-div{
    display: flex;

   }
   .trending-div{
    display: flex;
    
   }

   .people-area{
    display: flex;
   
   }
   .orange-area{
    display: flex;

   }
   .areas1{
    height: 40vh;
  }
   .areas2{
    height: 40vh;
  }
   .areas3{
    height: 40vh;
  }
  .div-menu{
    display: flex;
  }
  .ul-nike{
    display: flex;
  }
  .wm{
    margin-top: 100%;
  }
  .wm2{
    margin-top: 100%;
  }
  .wm3{
    margin-top: 100%;
  }
  
    .div-menu{
      margin-left: 0;
    }
     .div-tree{
      display: block;
     }
     .li1{
      padding: 10px;
     }
   
}