.inp1 {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #3d888a;
  margin: 10px;
  width: 90%;
}

.btn1 {
  border: none;
  padding: 15px;
  width: 100%;
  text-align: center;
  background-color: #3d888a;
  color: white;
  &:hover {
    cursor: pointer;
    background-color: #6ae7eb;
  }
}

.div-big-1 {
  display: flex;
  justify-content: center;
}

.big-2 {
  background-color: #438bf0;
  padding: 50px;
  border-radius: 50px;
  width: 20%;
  height: 25vh;
  margin-top: 10%;
}
